<google-map
  height="93%"
  width="100%"
  [zoom]="zoom"
  [options]="options"
>
<map-marker
  #markerElem="mapMarker"
  *ngFor="let marker of markers"
  [position]="marker.position"
  [label]="marker.label"
  [title]="marker.title"
  [options]="marker.options"
  (mapClick)="openInfo(markerElem, marker.info)"
>
</map-marker>
<map-info-window #infoWindow="mapInfoWindow"> 
  <app-map-info-window [infoContent]="infoContent"></app-map-info-window>
</map-info-window>
</google-map>
 









