.card {
    margin-left: 11%;
    border: 0.1rem solid var(--deep-blue);
    padding: 0.15rem;
    border-radius: 10px;
    width: 15rem;
    margin-top: 1rem;
    text-align: center;
}

p,b {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}