<mat-card class="card">
    <div style="display:flex">
      <mat-card-content>
        <div class="product-info-container">
          <img class="image" [src]="getBase64Prefix() + product.photos[0]">
          <div class="other">
            <div class="row-title">
              <p style="font-size: 25px; font-weight: bold;flex:1">{{product.name}}</p>
              <button *ngIf="storedUser.role.roleName === 'ROLE_USER'" mat-icon-button style="margin-top: -20px;" (click)="deleteProduct()"><mat-icon class="mat-icon-deep-blue">delete</mat-icon></button>
              <button *ngIf="storedUser.role.roleName === 'ROLE_USER'" style="margin-top: -20px;" (click)="updateProduct()"><mat-icon class="mat-icon-deep-blue">edit</mat-icon></button>
            </div>
            <p [matTooltip]="product.description" matTooltipPosition="below"
                style="cursor: pointer; font-size: 13px;">{{product.description.slice(0,45)}}...
            </p>
            <p style="margin-top: 10px; font-size: 15px;">{{product.colForPrice}} - {{product.price}} din.</p>
            <div class="row"*ngIf="product.averageRate > 0; else noRatingBlock">
              <ngx-stars [readonly]="true" customSize="1.5rem" [initialStars]="product.averageRate" color="var(--stars-gold)" style="margin-top: 5px;"></ngx-stars>
              <button mat-button class="reviews-btn" (click)="viewReviews(product.id)">Pogledaj recenzije</button> 
            </div>
            <ng-template #noRatingBlock><p style="font-size: 15px;margin-top:20px;text-align: right;">Nema ocena</p></ng-template>
          </div>
        </div>
      </mat-card-content>
  
    </div>
  </mat-card>
  